//bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
@import "bower_components/reset.scss/reset.scss";
@import "bower_components/sass-burger/_burger.scss";
// endbower 

// mixin
@import "../../node_modules/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "partials/fonts.scss";
@import "partials/variables.scss";
@import "partials/mixins.scss";


.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.button {
	@include button;
}



@import "partials/media.scss";
