//bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
@import "bower_components/reset.scss/reset.scss";
@import "bower_components/sass-burger/_burger.scss";
// endbower 

// mixin
@import "../../node_modules/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "partials/fonts.scss";
@import "partials/variables.scss";
@import "partials/mixins.scss";


.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body{
  margin: 0;
  font-family: $mainFont;
  min-width: 320px;
  line-height: 1.6;
}

b, strong {
  font-family: $mainFont, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: $mainFont;
  font-weight: normal;
  text-transform: uppercase;
}

a {
  font-family: $mainFont;
}

.hidden {
  display: none;
}

//header begin
  //nav begin
.nav {
  background-color: lighten($mainColor, 5%);
  text-align: center;
}

.ul__nav {
  display: inline-block;
}

.li__nav {
  display: inline-block;
  position: relative;
  &:hover {
    .ul__nav {
      display: block;
    }
  }
  .ul__nav {
    position: absolute;
    left: 0;
    background-color: lighten($mainColor, 5%);
    width: 100%;
    display: none;
    .li__nav{
      display: block;
      .sub,
      .a__nav {
        padding: 7px 10px;
      }
    }
  }
}
.sub,
.a__nav {
  font-family: $mainFont;
  color: $secondTextColor;
  font-size: 12px;
  padding: 23px 20px;
  display: block;
  cursor: pointer;
  
  &:hover {
    color: $accentColor;
    background-color: $mainColor;
  }
  .fa {
    position: relative;
    &:before {
      font-size: 10px;
      position: absolute;
      top: -10px;
      left: 4px;
    }
  }
}


.a__nav_current {
  color: $accentColor;
  background-color: $mainColor;
}
// nav end

//burger-sass
.icon__burger {
  @include burger(25px, 2px, 5px, #fff);
  position: absolute;
  top: 10px;
  left: 8px;
}
.is-active .icon__burger {
  @include burger-to-cross;
}
.burger {
    background-color: $mainColor;
    cursor: pointer;
    display: block;
    height: 20px;
    margin: 0 auto;
    padding: 18px 20px;
    position: relative;
    width: 20px;
    float: right;
    margin-top: 15px;
}
// burger-sass end

@import "partials/media.scss";
