//bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
@import "bower_components/reset.scss/reset.scss";
@import "bower_components/sass-burger/_burger.scss";
// endbower 

// mixin
@import "../../node_modules/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "partials/fonts.scss";
@import "partials/variables.scss";
@import "partials/mixins.scss";


.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.button {
	@include button;
}

//Header
.header {
	background-color: #59595b;
}
.heder__top-line {
	padding: 10px 0;
}
// top-nav begin
.top-nav__li {
	display: inline-block;
	vertical-align: middle;
	margin-right: 36px;
	font-size: em(12px);
	font-family: $regular;
	text-transform: uppercase;
}
.top-nav__a {
	color: #fff;
	&:hover {
		cursor: pointer;
		color: #c0c0c2;
		text-decoration: none;
	}
}
// top-nav end
.authorization {
	text-align: right;
}
.autorization__ul {
	display: inline-block;
}
.autorization__li {
	display: inline-block;
	vertical-align: middle;
	font-size: em(12px);
	font-family: $regular;
	text-transform: uppercase;
	margin-left: 5px;
}
.autorization__a {
	color: #fff;
	&:hover {
		cursor: pointer;
		color: #c0c0c2;
		text-decoration: none;
	}
}
.authorization__img {
	padding-right: 6px;
}
.autorization__span {
	color: #909092;
}
//authorization begin


@import "partials/media.scss";
