// media

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1230px){
  .top-nav__li {
    margin-right: 15px;
  }
  .main-menu__li {
    margin-right: 2.5%;
  }
  .main-menu__a {
    font-size: em(16px);
  }
  .slider__item {
    padding: 20px 0;
  }
  .slider__description {
    padding-left: 20px;
    width: 53%;
  }
  .slider__img-wrap {
    width: 47%;
  }
  .slider__h1 {
    font-size: em(38px);
    margin-bottom: 20px;
  }
  .slider__p {
    font-size: em(20px);
    margin-bottom: 33px;
  }
  .slider__logo {
    bottom: 0;
    right: 37px;
  }
  .button_goods{
    padding: 14px 10px;
  }
  .goods__price {
    padding: 9px 0;
  }
  .goods__quanity {
    padding: 9px 10px;
  }
  .email-footer {
    padding-left: 30px;
  }
  .email-footer__img {
    position: absolute;
    left: -20px;
  }
  .footer-under__img-wrap {
  padding-top: 24px;
}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .top-nav__ul,
  .autorization__ul {
    display: none;
  }
  .authorization__button,
  .burger {
    display: inline-block;
  }
  .top-nav__ul {
    position: absolute;
    top: 23px;
    left: 0;
    width: 165px;
    height: 156px;
    background-color: #59595b;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
  .top-nav__li {
    display: block;
    margin: 5px 0;
    font-size: em(17px);
    font-family: $regular;
    text-transform: uppercase;
  }
  .autorization__ul {
    position: absolute;
    top: 33px;
    right: 0px;
    width: 195px;
    height: 70px;
    background-color: #59595b;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
  .autorization__li {
    display: block;
    margin: 5px 0;
    font-size: em(17px);
    font-family: $regular;
    text-transform: uppercase;
  }
  .autorization__li_img {
    display: none;
  }
  .email,
  .search {
    display: none;
  }
  .phone {
    width: 100%;
  }
  .logo {
    padding-left: 15px;
  }
  .main-menu__ul {
    padding: 13px 0 16px 0;
  }
  .main-menu__li {
    margin-right: 1%;
  }
  .main-menu__a {
    font-size: em(14px);
  }
    .slider__item {
    padding: 20px 0;
  }
  .slider__description {
    padding-left: 20px;
    width: 53%;
  }
  .slider__img-wrap {
    width: 47%;
  }
  .slider__h1 {
    font-size: em(27px);
    margin-bottom: 15px;
  }
  .slider__p {
    font-size: em(15px);
    margin-bottom: 20px;
  }
  .slider__logo {
    bottom: -10px;
    right: 20px;
    width: 70px;
  }
  .phone-footer,
  .email-footer {
    padding-left: 80px;
  }
  .phone-footer__img,
  .email-footer__img {
    left: 0;
  }
  .phone-footer__name,
  .email-footer__name {
    font-size: em(15px);
    padding: 7px 0;
  }
  .phone-footer__number,
  .email-footer__email  {
    color: $black;
    font-size: em(20px);
  }

}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
 .phone {
    display: none;
  }
  .logo {
    width: 100px;
  }
  .basket {
    padding: 20px 0 0 62px;
  }
  .basket__img {
    top: 13px;
  }
  .circle {
      top: 15px;
  }
  .main-menu__ul {
    padding: 10px 0 10px 0;
  }
  .main-menu__li {
    display: block;
  }
  .main-menu__a {
    font-size: em(24px);
  }
  .slider__item {
    padding: 20px 0;
  }
  .slider__description {
    padding-left: 20px;
    width: 53%;
  }
  .slider__img-wrap {
    width: 47%;
  }
  .slider__img {
    width: 100%;
  }
  .slider__h1 {
    font-size: em(27px);
    margin-bottom: 15px;
  }
  .slider__p {
    font-size: em(15px);
    margin-bottom: 20px;
  }
  .slider__logo {
    display: none;
  }
  .logo_footer {
    display: none;
  }

}



/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .header__slider {
    display: none;
  }
  .phone-footer,
  .email-footer {
    margin: 20px;
  }
  .footer-menu {
    padding: 20px 0 0 0;
    margin-top: 30px;
  }

  .footer-under__copyright,
  .footer-under__dev  {
    font-size: em(11px);
    padding: 0;
  }
  .footer-under__img {
    top: -9px;
    left: -3px;
  }

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){} 