$icon-font-path: '../fonts/';
$mainFont: "RobotoBold";
$accentFont: "";
$primaryTextColor: #111111;  //цвет, близкий к темному
$secondTextColor: #ffffff;	
$accentTextColor: #FFCC00;	//желтый цвет
$littleText: #cccad1; //мелкий серый цвет

$mainColor: #22133E;
$accentColor: #FFCC00;