mixin slide
	.slider__item
		.row
			.col-xs-12
				.slider__description
					.slider__h1 Коммутаторы, роутеры CISCO
					p.slider__p Широкий асортимент и выгодные цены
					button.button Подробнее
				.slider__img-wrap
					img.slider__img(src="images/icon/cisco.jpg", alt="")
					img.slider__logo(src="images/icon/logo-slider.png", alt="")