doctype html
html(lang="ru")
head
    meta(charset='utf-8')   
    meta(name='description', content='')  
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title="Комар Алекс" 
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    // Place favicon.ico in the root directory
  
    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild
      // build:css styles/vendor.css
    // bower:css
    link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.css')
    // endbower
    // endbuild
    // build:js scripts/vendor/modernizr.js
    script(src='/bower_components/modernizr/modernizr.js')
    // endbuild
    // yandex shara begin
    script(type='text/javascript', src='//yastatic.net/es5-shims/0.0.2/es5-shims.min.js', charset='utf-8')
    script(type='text/javascript', src='//yastatic.net/share2/share.js', charset='utf-8')
    // yandex shara end
  body
    include ./mixins/mixins.jade
    header.header
      .heder__top-line
        .container
          .row
            .col-xs-8
              nav.top-nav 
                ul.top-nav__ul
                  li.top-nav__li 
                    a.top-nav__a О компании
                  li.top-nav__li 
                    a.top-nav__a Как заказать
                  li.top-nav__li 
                    a.top-nav__a Доставка
                  li.top-nav__li 
                    a.top-nav__a Сотрудничество
                  li.top-nav__li 
                    a.top-nav__a Клиенты
                  li.top-nav__li 
                    a.top-nav__a Вакансии
                  li.top-nav__li 
                    a.top-nav__a Контакты
                div.burger
                  div.icon__burger
            .col-xs-4.norelative
              nav.authorization
                ul.autorization__ul
                  li.autorization__li.autorization__li_img 
                    img.authorization__img(src="images/icon/autorize.png", alt="")
                  li.autorization__li
                    a.autorization__a Войти
                  li.autorization__li
                    span.autorization__span Или
                  li.autorization__li
                    a.autorization__a Зарегистрироваться
                img.authorization__button(src="images/icon/autorize.png", alt="")
      .header__contacts
        .container
          .row
            .col-md-2.col-sm-3.col-xs-5
              img.logo(src="images/icon/logo.png", alt="Lanmark")
            .col-md-5.col-sm-6
              .phone
                img.phone__img(src="images/icon/phone.png", alt="")
                span.phone__name Многоканальный телефон
                span.phone__number (495) 721-14-70
                a.phone__callme Обратная связь
              .email
                img.email__img(src="images/icon/letter.png", alt="")
                span.email__name Отдел продаж
                span.email__email info@lanmark.ru
            .col-md-3
              .search
                img.search__img(src="images/icon/lupa.png", alt="")
                span.search__input Поиск
            .col-md-2.col-sm-3.col-xs-7
              .basket
                img.basket__img(src="images/icon/basket.png", alt="")
                .circle 3
                span.basket__name Ваша корзина
                span.basket__price 136 700 Р.
      .header__main-menu
        .container
          .row
            .col-xs-12
              nav.main-menu
                ul.main-menu__ul
                  li.main-menu__li
                    a.main-menu__a Телефония
                  li.main-menu__li
                    a.main-menu__a Измерительные приборы
                  li.main-menu__li
                    a.main-menu__a Сетевое оборудование
                  li.main-menu__li
                    a.main-menu__a Периферия
                  li.main-menu__li
                    a.main-menu__a Безопасность
                  li.main-menu__li
                    a.main-menu__a Маршрутизаторы CISCO
      .header__slider
        .container
          .slider-wrap
            .slider.owl-carousel
              +slide
              +slide
              +slide
              +slide
    .content
      .container
        .row
          .col-xs-12
            section.goods.popular
              h3.section-header Популярные товары
              .goods__slider-wrap
                .goods__slider.owl-carousel
                  +goods__items(
                  "images/popular-goods/popular-slide1.jpg",
                  "[WS-C2960S-24TD-L] Коммутатор Catalyst Catalyst 296S24 GigE, 2 x 10G SFP+ LAN BASE", 
                  "Блок питания Cisco - 6000 Вт Fc Power Supply Catalyst 6500...", 
                  "15 431 Р.", 
                  "1")
                  +goods__items(
                  "images/popular-goods/popular-slide1.jpg",
                  "[WS-C2960S-24TD-L] Коммутатор Catalyst Catalyst 296S24 GigE, 2 x 10G SFP+ LAN BASE", 
                  "Блок питания Cisco - 6000 Вт Fc Power Supply Catalyst 6500...", 
                  "15 431 Р.", 
                  "1")
                  +goods__items(
                  "images/popular-goods/popular-slide1.jpg",
                  "[WS-C2960S-24TD-L] Коммутатор Catalyst Catalyst 296S24 GigE, 2 x 10G SFP+ LAN BASE", 
                  "Блок питания Cisco - 6000 Вт Fc Power Supply Catalyst 6500...", 
                  "15 431 Р.", 
                  "1")
                  +goods__items(
                  "images/popular-goods/popular-slide1.jpg",
                  "[WS-C2960S-24TD-L] Коммутатор Catalyst Catalyst 296S24 GigE, 2 x 10G SFP+ LAN BASE", 
                  "Блок питания Cisco - 6000 Вт Fc Power Supply Catalyst 6500...", 
                  "15 431 Р.", 
                  "1")
                  +goods__items(
                  "images/popular-goods/popular-slide1.jpg",
                  "[WS-C2960S-24TD-L] Коммутатор Catalyst Catalyst 296S24 GigE, 2 x 10G SFP+ LAN BASE", 
                  "Блок питания Cisco - 6000 Вт Fc Power Supply Catalyst 6500...", 
                  "15 431 Р.", 
                  "1")
        .row
          .col-xs-12
            section.goods.clients
              h3.section-header Наши клиенты
              .clients__slider.owl-carousel
                .clients__item
                  img(src="../images/our-clients/clients-slide1.jpg", alt="")
                .clients__item
                  img(src="../images/our-clients/clients-slide2.jpg", alt="")
                .clients__item
                  img(src="../images/our-clients/clients-slide3.jpg", alt="")
                .clients__item
                  img(src="../images/our-clients/clients-slide4.jpg", alt="")
                .clients__item
                  img(src="../images/our-clients/clients-slide5.jpg", alt="")
                .clients__item
                  img(src="../images/our-clients/clients-slide6.jpg", alt="")  
        .row
          .col-xs-12
            section.goods.popular
              h3.section-header Новинки
              .goods__slider-wrap
                .goods__slider.owl-carousel
                  +goods__items(
                  "images/popular-goods/popular-slide1.jpg",
                  "[WS-C2960S-24TD-L] Коммутатор Catalyst Catalyst 296S24 GigE, 2 x 10G SFP+ LAN BASE", 
                  "Блок питания Cisco - 6000 Вт Fc Power Supply Catalyst 6500...", 
                  "15 431 Р.", 
                  "1")
                  +goods__items(
                  "images/popular-goods/popular-slide1.jpg",
                  "[WS-C2960S-24TD-L] Коммутатор Catalyst Catalyst 296S24 GigE, 2 x 10G SFP+ LAN BASE", 
                  "Блок питания Cisco - 6000 Вт Fc Power Supply Catalyst 6500...", 
                  "15 431 Р.", 
                  "1")
                  +goods__items(
                  "images/popular-goods/popular-slide1.jpg",
                  "[WS-C2960S-24TD-L] Коммутатор Catalyst Catalyst 296S24 GigE, 2 x 10G SFP+ LAN BASE", 
                  "Блок питания Cisco - 6000 Вт Fc Power Supply Catalyst 6500...", 
                  "15 431 Р.", 
                  "1")
                  +goods__items(
                  "images/popular-goods/popular-slide1.jpg",
                  "[WS-C2960S-24TD-L] Коммутатор Catalyst Catalyst 296S24 GigE, 2 x 10G SFP+ LAN BASE", 
                  "Блок питания Cisco - 6000 Вт Fc Power Supply Catalyst 6500...", 
                  "15 431 Р.", 
                  "1")
                  +goods__items(
                  "images/popular-goods/popular-slide1.jpg",
                  "[WS-C2960S-24TD-L] Коммутатор Catalyst Catalyst 296S24 GigE, 2 x 10G SFP+ LAN BASE", 
                  "Блок питания Cisco - 6000 Вт Fc Power Supply Catalyst 6500...", 
                  "15 431 Р.", 
                  "1")
    footer.footer
      .footer-menu
        .container
          .row
            .col-md-7
              .container
                .row
                  .col-md-4.col-sm-4
                    img.logo.logo_footer(src="images/icon/logo.png", alt="Lanmark")
                  .col-md-4.col-sm-4.col-xs-6
                    ul.footer-menu__ul
                      li.footer-menu__li.footer-menu__li_name Каталоги
                      li.footer-menu__li 
                        a.footer-menu__a Телефония
                      li.footer-menu__li
                        a.footer-menu__a Измерительные приборы
                      li.footer-menu__li
                        a.footer-menu__a Сетевое обоудование
                      li.footer-menu__li
                        a.footer-menu__a Пререферия 
                      li.footer-menu__li
                        a.footer-menu__a Безопасность
                  .col-md-4.col-sm-4.col-xs-6
                    ul.footer-menu__ul
                      li.footer-menu__li.footer-menu__li_name Компания
                      li.footer-menu__li
                        a.footer-menu__a О компании
                      li.footer-menu__li
                        a.footer-menu__a Как заказать
                      li.footer-menu__li
                        a.footer-menu__a Доставка
                      li.footer-menu__li
                        a.footer-menu__a Сотрудничество 
                      li.footer-menu__li
                        a.footer-menu__a Клиенты
                      li.footer-menu__li
                        a.footer-menu__a Вакансии
                      li.footer-menu__li
                        a.footer-menu__a Контакты
            .col-md-5
              .container
                .row
                  .col-md-6.col-sm-6
                    .phone-footer
                      img.phone-footer__img(src="images/icon/phone.png", alt="")
                      span.phone-footer__name Многоканальный телефон
                      span.phone-footer__number (495) 721-14-70
                  .col-md-6.col-sm-6
                    .email-footer
                      img.email-footer__img(src="images/icon/letter.png", alt="")
                      span.email-footer__name Отдел продаж
                      span.email-footer__email info@lanmark.ru
      .footer-under
        .container
          .row
            .col-md-3.col-xs-6  
              span.footer-under__copyright 2008-2016 "Lanmark Ltd"
            .col-md-3.col-xs-6 
              .footer-under__wrap
                img.footer-under__img(src="images/icon/lamp.png", alt="")
                span.footer-under__dev Разработка сайта эврика
            .col-md-6.col-xs-12
              .footer-under__img-wrap
                img.footer-under__counters(src="../images/icon/counters.png", alt="")
    //
      [if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]  
    

    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');

    // build:js scripts/vendor.js
    // bower:js
    script(src='/bower_components/jquery/dist/jquery.js')
    // endbower
    // endbuild
    // build:js scripts/plugins.js
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js')
    script(src='/bower_components/owlcarousel/owl-carousel/owl.carousel.js')
    script(src='/bower_components/matchHeight/dist/jquery.matchHeight.js')
    script(src='/bower_components/lightbox2/dist/js/lightbox.js')
    // endbuild
    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild